/* emoji-picker-react forces its native emoji font stack with !important. */
body[os='windows'] .cherry-emoji-picker-react .epr-emoji-native {
  font-family:
    'Twemoji Country Flags', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Twemoji Mozilla',
    'Noto Color Emoji', 'EmojiOne Color', 'Android Emoji' !important;
}

.cherry-emoji-picker-react .epr-cat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cherry-emoji-picker-react .epr-cat-btn:focus::before {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: var(--epr-category-navigation-button-size);
  height: var(--epr-category-navigation-button-size);
  transform: translate(-50%, -50%);
}
