.sidebar-theme {
  --sidebar-active-bg: rgba(16, 185, 129, 0.16);
  --sidebar-active-border: rgba(16, 185, 129, 0.42);
  --sidebar-glow-bg: rgba(16, 185, 129, 0.25);
  --sidebar-glow-line: rgba(16, 185, 129, 0.5);
}

.dark .sidebar-theme {
  --sidebar-active-bg: rgba(114, 255, 121, 0.14);
  --sidebar-active-border: rgba(114, 255, 121, 0.18);
  --sidebar-glow-bg: rgba(114, 255, 121, 0.15);
  --sidebar-glow-line: rgba(114, 255, 121, 0.35);
}
