/**
 * Border Radius
 * 圆角半径
 */

:root {
  --cs-radius-4xs: 0.25rem; /* 4px */
  --cs-radius-3xs: 0.5rem; /* 8px */
  --cs-radius-2xs: 0.75rem; /* 12px */
  --cs-radius-xs: 1rem; /* 16px */
  --cs-radius-sm: 1.5rem; /* 24px */
  --cs-radius-md: 2rem; /* 32px */
  --cs-radius-lg: 2.5rem; /* 40px */
  --cs-radius-xl: 3rem; /* 48px */
  --cs-radius-2xl: 3.5rem; /* 56px */
  --cs-radius-3xl: 4rem; /* 64px */
  --cs-radius-round: 999px; /* 完全圆角，保持 px */
}
